absl-py
altair
asttokens
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
executing
flatbuffers
gast
gitdb
GitPython
google-pasta
grpcio
h5py
idna
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
ml-dtypes
namex
narwhals
nest-asyncio
numpy
opt_einsum
optree
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
protobuf==3.20.3
psutil
pure_eval
pyarrow
pydeck
Pygments
python-dateutil
pytz
pyzmq
referencing
requests
rich
rpds-py
scipy
setuptools
six
smmap
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
Werkzeug
wheel
wrapt
